body {
  margin: 0;
  padding: 0;
  font-family: "helvetica neue";
  color: #6d6e71;
  background-color: #6d6e71; }

h1 {
  font-weight: normal;
  font-size: 36px; }

h2 {
  font-weight: normal;
  font-size: 30px; }

.content {
  background: #ffffff;
  padding-bottom: 50px; }

.wrapper {
  margin: auto;
  width: 600px; }

.header {
  position: relative;
  overflow: hidden; }
  .header .logo {
    float: left;
    width: 200px;
    height: 62px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding-left: 90px;
    padding-top: 18px;
    background-image: url(../images/logo.png); }
  .header .install {
    float: right;
    width: 135px;
    height: 0px;
    padding-top: 40px;
    margin-top: 45px;
    overflow: hidden;
    background-image: url(../images/install.svg); }
  .header .badge {
    position: absolute;
    right: 0;
    height: 0;
    top: 43px;
    overflow: hidden;
    padding-top: 42px;
    width: 40px;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url(../images/free-banner.png); }

.demo {
  overflow: hidden;
  position: relative;
  margin: auto;
  width: 760px;
  height: 487.5px; }
  .demo .static {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    background-image: url(../images/demo.png);
    background-size: 100%; }
  .demo video {
    position: absolute;
    z-index: 1;
    opacity: 0;
    left: 52px;
    top: 89px; }

.header-extensions {
  overflow: hidden;
  margin-top: -25px;
  margin-bottom: 25px;
  position: relative; }
  .header-extensions h2 {
    float: left;
    margin: 0;
    line-height: 48px; }
  .header-extensions .extensions {
    float: right; }
  .header-extensions .browser {
    width: 48px;
    height: 48px;
    display: block;
    float: left;
    background-size: 100%;
    margin-left: 10px; }
  .header-extensions .chrome {
    background-image: url(../images/chrome.png); }
  .header-extensions .safari {
    background-image: url(../images/safari.png); }
  .header-extensions .firefox {
    background-image: url(../images/firefox.png); }

.footer {
  text-align: right;
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #fff; }
